
.login-4 {
    width: 60%;
    display: grid;
    place-items: center;
    color: rgb(97, 97, 97);

}
.signup-sec{
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
   
}
.checkbox-div{
    display: flex;
    gap: 15px;
}
#form-sec{
    display: flex;
    flex-direction: column;
    gap:0;   
}
.radio-div{
    display: flex;
    gap: 10px;
}
.input-icon-container {
    position: relative;
   }
   
   .input-icon-container input {
    padding-right: 30px; 
   }
   
   .input-icon-container .icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
   }
   